<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VBDemos.My.MySettings.sybcaallConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=sybcaall;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VBDemos.My.MySettings.DEMOS_MDFConnectionString" connectionString="Data Source=X73\SQLEXPRESS;Initial Catalog=DEMOS.MDF;User ID=SYBCA3;Password=sybca3"
            providerName="System.Data.SqlClient" />
        <add name="VBDemos.My.MySettings.DemosConnectionString" connectionString="Data Source=X73\SQLEXPRESS;Initial Catalog=Demos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VBDemos.My.MySettings.examConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=exam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VBDemos.My.MySettings.studinfoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\studinfo.mdb"
            providerName="System.Data.OleDb" />
        <add name="VBDemos.My.MySettings.SYBCA2CSTR" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;F:\HPP Personal\BCA Drive\Master Folder\mindIT Event\DATA FILES\MindIT 2019-20\CertificateData.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="VBDemos.My.MySettings.Database1ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
